body{
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section {
    width: 100%;
    height: 95vh;
    background-color: #fff;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0 5%;
    position: fixed;
    z-index: 100;   
}

nav ul{
    display: flex;
    padding-right: 10%;    
}
.toogle{
    display: none;
}
nav ul li a {
    margin: 30px;
    font-family: sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}
nav ul li:hover{
    background-color: rgb(201, 196, 196);
    padding: 3px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all .2s ease-in-out;
    transform: scale(1.3);
    border-radius: 50%;
}
nav ul li a:hover{
    color: white;
}
.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000;
    font-size: 22px;
}
.active{
    font-weight: 800;
    color: #2d2a2a;
}
.hamburger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #aaa;
    margin: 6px 0px;
    transition: 0.4s;
}
.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-7px, 6px)
}
.hamburger.is-active:after{
    transform: rotate(45deg) translate(-7px, -6px)
}
.hamburger.is-active .bar{
    opacity: 0;
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 100%;
    width: 60%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #ececec;
    padding-top: 120px;
    margin-top: 60px;
    transition: 0.4s;
}
.mobile-nav.is-active{
    left: 43%;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    border-radius: 10px;
    background-color: #444343;
    color: #fff;
    text-decoration: none;
}

.mobile-nav a:hover{
    background-color: #0f0f0f;
}
@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
    .hamburger {
        display: none;
    }
}

.text-container p:nth-child(1){
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}

.text-container p:nth-child(2){
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.text-container p:nth-child(3){
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}

.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}

.text-container{
    position:absolute;
    left: 13%;
    top: 32%;
    transform: translate(13%, 32%);
}

.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0 10px;
}
.hire-btn{
    border: 2px solid #373636;
    color: #373636;
   
}
.down-cv{
    background-color: #0b0b0b;
    color: #fff;
    border: none;
}
button:active{
    transform:scale(1.1);
}
.model{
    height: 560px;
    position: absolute;
    bottom: 40px;
    left: 70%;
    transform: translateX(-70%);
    border-radius: 20px;
}

.about-container{
    width: 80%;
    height: 430px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin:-4% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
    height: 250px;
}
.about-text{
    width: 550px;
}
.about-text p:nth-child(1){
    color: #403e3e;
    font-family: cursive;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}

.about-text p:nth-child(2){
    color: #3e3d3d;
    font-family: cursive;
    font-weight: bold;
    font-size: 13px;
    line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
    color: #7e7d7d;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 16px;
}
.about-text button{
    width: 120px;
    height: 40px;
    color: #fff;
    outline: none;
    border: none;
    font-family: sans-serif;
    background-color: #262525;
}

.skills{
    height: 650px;
    background-color: #fff;
    padding: 2% 10% 0px 10%;
    margin-top: -4%;
}
.skills-text p:nth-child(1){
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: opx;
}
.skills-text p:nth-child(2){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 15px;
    line-height: 5px;

}
.skills-text p:nth-child(3){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7e7d7d;
}

.skills-text{
    width: 500px;
    margin: 50px 0px;
}

// ................................................
// ................................................
// ................................................
.services{
    margin-top: 2em;
    height: 600px;
    background-color: #fff;
    padding: 2% 10% 0px 10%;
}
.services-text p:nth-child(1){
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: opx;
}
.services-text p:nth-child(2){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 15px;
    line-height: 5px;

}
.services-text p:nth-child(3){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7e7d7d;
}

.services-text{
    width: 500px;
    margin: 50px 0px;
}
.box-1,.box-2,.box-3,.box-4,.box-5,.box-6,.box-7,.box-8{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-container{
    // display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
    margin: 0;
    padding: 0;
}

.bx{
    background-color: black;
    margin-right: 1em;
    // background-image: url("../assets/images/team-1.jpg");
}

.box-1 span,
.box-2 span,
.box-3 span,
.box-4 span,
.box-5 span ,
.box-6 span ,
.box-7 span ,
.box-8 span {
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #fff;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
}

.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2),
.box-4 p:nth-child(2),
.box-5 p:nth-child(2),
.box-6 p:nth-child(2),
.box-7 p:nth-child(2),
.box-8 p:nth-child(2){
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    line-height: 0xp;
}

.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3),
.box-4 p:nth-child(3),
.box-5 p:nth-child(3),
.box-6 p:nth-child(3),
.box-7 p:nth-child(3),
.box-8 p:nth-child(3){
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 230px;
    margin: 0px 0px 20px 0px;
    color: #8f8f8f;
}
.box-1 button,
.box-2 button,
.box-3 button,
.box-4 button,
.box-5 button,
.box-6 button,
.box-7 button,
.box-8 button{
width: 100px;
height: 30px;
background-color: #fff;
border: none;
outline:  none;
border-radius: 5px;
}

.contact-me{
    width: 100%;
    height: 280px;
    background-color: black;
    // background-image: url(../assets/images/team-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-me p{
    color: #fff;
    font-size: 30px;
    font-family: Arial Narrow Bold, sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}
.contact-me button{
    width: 200px;
    height: 40px;
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer p:nth-child(1){
    font-size: 30px;
    color: #191919;
    font-weight: bold;
    line-height: 10px;
}
footer p:nth-child(2){
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}
.social-icons {
    display: flex;
}
.social-icons i {
    color: black;
}
.social-icons a:hover,
.a-social-b a:hover{
    background-color: black;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition:  all ease 0.5s;
}
.social-icons a:hover i,
.a-social-b a:hover i{
    color: #fff;
    transition:  all ease 0.5s;

}
.copyright{
    color: #565555;
    font-size: 13px;
    position: absolute;
    left: 40%;
    bottom: 10px;
    transform: translateX(40%);
}
.a-social-b{
    position: fixed;
    top: 50%;
    right:0px;
    transform: translateX(-50%);
}
.a-social-b a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #fff;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

.a-social-b i{
color: #2b2b2b;
font-size: 20px;
}

@media(max-width: 1000px){
    *{
        box-sizing: border-box;
    }

    .model{
        height: 360px;
        top: 30%;
        transform: translateX(-50%);
        border-radius: 50%;
    }
    .text-container {
        top: 16%;
        left: -1%;
    }
    .text-container button {
        margin: 5px;
    }
    .about-container {
        width: 90%;
        border-radius: 10px;
    }
    .about-container img {
        height: 200px;
    }
    .about-text {
        width: 400px;
    }
    .about-text p:nth-child(1){
        font-size: 20px;
    }

    .about-text p:nth-child(2){
        font-size: 10px;
    }

    .about-text p:nth-child(3),
    .about-text p:nth-child(4){
        font-size: 14px;
    }
    .services, .skills {
        padding: 2% 5% 0px 5%;
        height: auto;
    }
    .box-container {
        justify-content: center;
        flex-wrap: wrap;
    }
    .box-1,.box-2,.box-3{
        flex-grow: 1;
        margin: 10px;
    }
    .contact-me {
        height: 200px;
    }
    .contact-me p {
        font-size: 26px;
    }
    .contact-me button{
        font-size: 14px;
        height: 35px;
        width: 160px;
    }
}
@media(max-width: 750px) {
    section {
        background-image: none;
        background-color: #f7f7f7;
    }
    .model {
        display: none;
    }
    .toogle{
        display: block;
    }
    .text-container p:nth-child(2){
        line-height: 40px;
        margin: 0px;
        padding: 0px;
    }
    .text-container {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
    }
    nav ul {
        margin: 0px;
        padding: 0px;
        background-color: #ebeef4;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100hv;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        display: none;
    }
    nav ul li {
        padding: 10px;
    }
    nav ul li a {
        font-family: 'Lucida Sans', 'Lucida Sans Regular';
        font-size: 1.1em;
        text-transform: uppercase;
        color: #5c5c5c;
    }
    nav ul li a:hover {
        color: #121212;
    }
    
    .nav.active ul {
        display: flex !important;
    }

    .text-container p:nth-child(2){
        font-size: 47px;
    }
    .about-container{
        top: 0px;
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 30px 0px;
        align-items: center;
    }
    .about-text {
        width: 90%;
        text-align: center;
    }
    .services-text, .skills-text {
        width: 100%;
    }
    .contact-me{
        height: 180px;
    }
    .contact-me p{
        font-size: 18px;
    }
    .contact-me button {
        width: 150px;
        height: 33px;
    }
    footer p:nth-child(2){
        width: 90%;
    }
    .copyright{
        font-size: 11px;
        left: 28%;
        transform: translateX(28%);
    }

}